@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: #354a5f;
$secondary-color: #636e72;

body {
  font-family: "Montserrat", sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}

@mixin flexCenter($direction: row) {
  display: flex;
  align-items: center;
  flex-direction: $direction;
}

body {
  background-color: $primary-color;
  height: 100vh;
  width: 100vw;
}

header {
  @include flexCenter();
  height: 10vh;
  padding: 20px 30px;
  text-align: center;
  color: whitesmoke;
  p {
    margin-left: 5px;
    font-weight: 700;
    letter-spacing: 1.2px;
  }
}

/* -------------------------------- searchBar ------------------------------- */
form {
  height: 85vh;
  width: 100%;
  @include flexCenter(column);
  justify-content: center;
  label {
    font-size: larger;
    font-weight: 700;
    color: silver;
    letter-spacing: 1.2px;
  }
  #searchBar {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 50%;
    padding: 20px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    letter-spacing: 1.2px;
    outline: none;
    background: transparent;
    box-shadow: 3px 3px 16px black, -3px -3px 16px rgba(255, 255, 255, 1);
    transition: 0.4s ease;
    &:focus {
      background-color: #fff;
    }
  }
}

main {
  @include flexCenter(column);
  justify-content: center;
  height: 85vh;
  .weatherInfo {
    @include flexCenter(column);
    justify-content: center;
    flex-wrap: wrap;
    width: 315px;
    border-radius: 12px;
    box-shadow: 3px 3px 16px black, -3px -3px 16px rgba(255, 255, 255, 1),
      -20px -20px 30px rgba(170, 170, 170, 0.1) inset;
    background-color: $primary-color;
    margin: 3% 0;
    padding: 20px 40px;
    height: 100%;
    img {
      width: 120px;
      height: auto;
      filter: invert(100%);
    }
    .cityName {
      font-size: 20px;
      color: #fff;
      letter-spacing: 1.2px;
    }
    .date {
      margin-top: 5px;
      font-style: italic;
      color: azure;
      font-size: 14px;
      background-color: $secondary-color;
      border-radius: 20px;
      padding: 7px 25px;
    }
    .temp {
      margin: 20px 0px 10px 0px;
      color: $secondary-color;
      font-size: 2rem;
      color: #fff;
      border-radius: 20px;
      font-weight: 700;
      letter-spacing: 7px;
    }
    .weather {
      font-size: medium;
      color: #fff;
    }
    .weatherData {
      @include flexCenter(row);
      justify-content: space-around;
      width: 90%;
      margin-top: 30px;
      color: white;
      .otherInfo {
        @include flexCenter(column);
        justify-content: center;
        i {
          font-size: 35px;
          text-align: center;
        }
        p {
          margin-top: 10px;
          font-size: 13px;
          letter-spacing: 1.2px;
        }
      }
    }
  }
}

.Error{
  @include flexCenter(column);
  align-items: flex-start;
  background-color: transparent;
  box-shadow: 3px 3px 16px black, -3px -3px 16px rgba(255, 255, 255, 1);
  border-radius: 20px;
  margin: 20px auto;
  height: 70vh;
  width: 60%;
  color: whitesmoke;
  padding: 20px;
  letter-spacing: 1.2px;
  h1{
    font-size: 40px;
  }
}

footer {
  height: 5vh;
  width: 100%;
  text-align: center;
  font-size: medium;
  color: silver;
}

@media only screen and (max-width: 350px) {
  main {
    .weatherInfo {
      width: 280px;
    }
  }
}

@media only screen and (max-width: 500px) {
  form {
    #searchBar {
      width: 80%;
    }
  }
}
